* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

header:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

header:hover nav ul li a {
    color: black;
}

.logo img {
    max-height: 60px;
    width: 60%; /* ロゴのサイズを60%に変更 */
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* メニューを中央に揃える */
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

header:hover nav ul li a:hover {
    color: red;
}

nav ul li a:hover {
    color: red;
}

nav ul li.active a {
    color: red;
}

.hamburger, .close-menu {
    font-size: 24px;
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease, display 0.3s ease;
    display: none; /* デフォルトで非表示に設定 */
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1200px) { /* ロゴとメニューの合計の長さが画面の横の長さを超えたとき */
    nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .close-menu.show {
        display: block;
        opacity: 1;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        width: 250px;
        height: 100vh;
        padding-top: 60px;
        padding-right: 20px;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        text-align: right;
        transition: right 0.3s ease;
    }

    nav ul li {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    nav ul li:first-child {
        border-top: none;
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    nav ul li a {
        color: black;
        padding: 15px;
        display: block;
    }

    nav ul li a:hover {
        background-color: rgba(128, 128, 128, 0.5);
        color: black;
    }

    nav ul li.active a {
